:root{
    --background-color: #FA13F2;
    --primary-color: #00D4FE;
    --dark-background-color: #0B1432;
    --foreground-color: #414040;
    --font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
.navbar{
    background-color: #f9f8f8af;
    color: var(--foreground-color);
    font-family: var(--font-family);
    padding: 10px;
    width: 50vw;
    height: 40px;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0px 4px 20px -9px rgba(0,0,0,0.7);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
}

.navbar a{
    text-decoration: none;
    color: var(--foreground-color);
    font-weight: bold;
    font-size: 20px;
    font-family: var(--font-family);
    padding: 8px 16px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
}
.navbar a:hover{
    color: var(--primary-color);
    transform: translateY(-4px);
}
.nav-login{
    background: linear-gradient(114deg,#FE6EB6 10%, #3dcbfaa4 90%);
    border-radius: 24px;
    padding: 8px 20px;
    width: 6rem;
    text-align: center;
    transition: all 0.5s ease;
}

.nav-login:hover{
    background: linear-gradient(114deg,#3dcbfa 10%, #FE6EB6 90%);
    color: white !important;
    transform: translateY(-4px);
}

.welcome{
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-family: var(--font-family);
    color: var(--foreground-color);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speaker-image{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(images/speaker.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    z-index: -1;
}
.fadeout{
    animation: speakeranimantion;
    animation-timeline: view();
    animation-range: entry 150% exit 150%;
}


@keyframes speakeranimantion {
    0% { transform:translateX(-50%) translateY(-20%)  scale(1.5); }
    100% { transform: translateX(-50%) translateY(40%) scale(.5) rotateZ(90deg); }
    
}
.half-mobile{
    position: absolute;
    background-image: url(images/half_mobile.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 320px;
    top: 60%;
    transform: translateY(-50%) rotateZ(45deg) scale(1.5);
    left: -150px;
}

@keyframes entranceanimation {
    0% { transform: translateY(-50%) rotateZ(45deg) scale(0); }
    100% { transform: translateY(-50%) rotateZ(45deg) scale(1.5); }
}

.zoom-out{
    animation: zoomoutanimation;
    animation-timeline: view();
    animation-range: entry 70% exit 150%;
}
@keyframes zoomoutanimation {
    0% { transform: translateY(-50%) rotateZ(45deg) scale(1.5); }
    100% { transform: translateY(-50%) rotateZ(45deg) scale(0); }
    
}
.welcome-text{
    z-index: 1;
}
.welcome-text h1{
    font-size: 190px;
    margin: 0;
    background: linear-gradient(114deg, var(--background-color) 10%, var(--primary-color) 90%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(40px);
}
.welcome-text p{
    font-size: 36px;
    margin: 0;
    transform: translateY(20px);
}
.tablet {
    position: absolute;
    background-image: url(images/tablet.jpg);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 600px;
    top: 20%;
    right: -100px;
    z-index: -10;
}
.tabletani{
    animation: tabletanimation;
    animation-timeline: view();
    animation-range: entry 90% exit 140%;
}
@keyframes tabletanimation {
    0% { transform: scale(1.25); }
    40% { transform: translateX(-200px) translateY(250px) rotateZ(44deg) scale(1); }
    60% { transform: translateX(-200px) translateY(450px) rotateZ(44deg) scale(1); }
    80% { transform: translateX(-200px) translateY(550px) rotateZ(44deg) scale(1); }
    100% { transform: translateX(-200px) translateY(550px) rotateZ(44deg) scale(0); }
}

.title-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 6rem;
    max-height: fit-content;
}
.begineer{
    position: absolute;
    bottom: -18rem;
    left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.begineer h1{
    font-size: 68px;
    margin: 0;
    background: linear-gradient(114deg, var(--background-color) 10%, #DA56FF 90%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(40px);
    text-align: left;
}

.begineer p{
    font-size: 28px;
    margin-top: 1rem;
    transform: translateY(20px);
    color: var(--foreground-color);
    text-align: left;
}

.button-joinnow{
    margin-top: 2rem;
    background: linear-gradient(114deg,#FFB8FE 10%, #B1D3FF 100%);
    padding: 12px 28px;
    border-radius: 32px;
    transition: all 0.5s ease;
}
.button-joinnow a{
    text-decoration: none;
    color: var(--foreground-color);
    font-weight: bold;
    font-size: 20px;
    font-family: var(--font-family);
}

.button-joinnow:hover{
    background: linear-gradient(114deg,#B1D3FF 10%, #FFB8FE 100%);
    transform: translateY(-4px);   
    box-shadow: 0px 4px 20px -9px rgba(0,0,0,0.7);
}

.button-joinnow:hover a{ 
    color: white !important;
}

.developer-join{
    position: relative;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 16rem;
}
.white_speaker{
    background-image: url(images/white_speaker.png);
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 50vw;
    z-index: -1;
}
.coder{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 50vw;
}
.coder h1{
    font-size: 64px;
    margin: 0;
    background: linear-gradient(90deg, #00F6FF 10%, #C756FF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(20px);
    text-align: left;
}
.coder p{
    font-size: 28px;
    margin-top: 1rem;
    transform: translateY(20px);
    color: var(--foreground-color);
    text-align: left;
}