:root {
    --background-color: #FA13F2;
    --primary-color: #00D4FE;
    --dark-background-color: #0B1432;
    --foreground-color: #414040;
    --font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.navbar {
    background-color: #f9f8f8af;
    color: var(--foreground-color);
    font-family: var(--font-family);
    padding: 10px;
    width: 50vw;
    height: 40px;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0px 4px 20px -9px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: var(--foreground-color);
    font-weight: bold;
    font-size: 20px;
    font-family: var(--font-family);
    padding: 8px 16px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    color: var(--primary-color);
    transform: translateY(-4px);
}

.nav-login {
    background: linear-gradient(114deg, #FE6EB6 10%, #3dcbfaa4 90%);
    border-radius: 24px;
    padding: 8px 20px;
    width: 6rem;
    text-align: center;
    transition: all 0.5s ease;
}

.nav-login:hover {
    background: linear-gradient(114deg, #3dcbfa 10%, #FE6EB6 90%);
    color: white !important;
    transform: translateY(-4px);
}

.welcome{
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-family: var(--font-family);
    color: var(--foreground-color);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speaker-image{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(images/speaker.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    z-index: -1;
}

.fadeout {
    animation: speakeranimantion;
    animation-timeline: view();
    animation-range: entry 150% exit 150%;
}


@keyframes speakeranimantion {
    0% { transform:translateX(-50%) translateY(-20%)  scale(1.5); }
    100% { transform: translateX(-50%) translateY(40%) scale(.5) rotateZ(90deg); }
    
}
.half-mobile{
    position: absolute;
    background-image: url(images/half_mobile.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 320px;
    top: 60%;
    transform: translateY(-50%) rotateZ(45deg) scale(1.5);
    left: -150px;
}

@keyframes entranceanimation {
    0% { transform: translateY(-50%) rotateZ(45deg) scale(0); }
    100% { transform: translateY(-50%) rotateZ(45deg) scale(1.5); }
}

.zoom-out{
    animation: zoomoutanimation;
    animation-timeline: view();
    animation-range: entry 70% exit 150%;
}
@keyframes zoomoutanimation {
    0% { transform: translateY(-50%) rotateZ(45deg) scale(1.5); }
    100% { transform: translateY(-50%) rotateZ(45deg) scale(0); }
    
}
.welcome-text{
    z-index: 1;
}
.welcome-text h1{
    font-size: 190px;
    margin: 0;
    background: linear-gradient(114deg, var(--background-color) 10%, var(--primary-color) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(40px);
}
.welcome-text p{
    font-size: 36px;
    margin: 0;
    transform: translateY(20px);
}
.tablet {
    position: absolute;
    background-image: url(images/tablet.png);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 600px;
    top: 20%;
    right: -100px;
    z-index: -10;
}
.tabletani{
    animation: tabletanimation;
    animation-timeline: view();
    animation-range: entry 90% exit 165%;
}
@keyframes tabletanimation {
    0% { transform: scale(1.25); }
    40% { transform: translateX(-200px) translateY(350px) rotateZ(44deg) scale(1); }
    60% { transform: translateX(-200px) translateY(450px) rotateZ(44deg) scale(1); }
    80% { transform: translateX(-200px) translateY(550px) rotateZ(44deg) scale(1); }
    100% { transform: translateX(-200px) translateY(550px) rotateZ(44deg) scale(.75); }
}

.title-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 6rem;
    max-height: fit-content;
}
.begineer{
    position: absolute;
    bottom: -18rem;
    left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.begineer h1{
    font-size: 68px;
    margin: 0;
    background: linear-gradient(114deg, var(--background-color) 10%, #DA56FF 90%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(40px);
    text-align: left;
}

.begineer p{
    font-size: 28px;
    margin-top: 1rem;
    transform: translateY(20px);
    color: var(--foreground-color);
    text-align: left;
}

.button-joinnow{
    background: linear-gradient(114deg,#FFB8FE 10%, #B1D3FF 100%);
    height: 3rem;
    border-radius: 32px;
    transition: all 0.5s ease;
    min-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.button-joinnow a{
    padding: 12px 28px;
    text-decoration: none;
    color: var(--foreground-color);
    font-weight: bold;
    font-size: 20px;
    font-family: var(--font-family);
    z-index: 10;
    transition: all 0.3s ease;
}

.button-joinnow:hover{
    background: linear-gradient(114deg,#B1D3FF 10%, #FFB8FE 100%);
    transform: translateY(-4px);   
    box-shadow: 0px 4px 20px -9px rgba(0,0,0,0.7);
}

.button-joinnow:hover a{ 
    color: white !important;
}

.developer-join{
    position: relative;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 18rem;
    flex-wrap: wrap;
}
.white_speaker{
    background-image: url(images/white_speaker.png);
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 50vw;
    z-index: -11;
}
.coder{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 50vw;
}

.pushdown{
    animation: pushdownanimation;
    animation-timeline: view();
    animation-range: entry 100% exit 150%;
}
@keyframes pushdownanimation {
    0% { transform: translateY(0px); }
    100% { transform: translateY(50vh); }
}
.coder h1{
    font-size: 64px;
    margin: 0;
    background: linear-gradient(90deg, #00F6FF 10%, #C756FF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(20px);
    text-align: left;
}
.coder p{
    font-size: 28px;
    margin-top: 1rem;
    transform: translateY(20px);
    color: var(--foreground-color);
    text-align: left;
}

.feature-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vw;
    width: 50vw;
    margin-left: 10vw;
}

.vr_girl{
    background-image: url(images/vr_girl.png);
    background-size: cover;
    background-position: center;
    width: 38vw;
    height: 50vw;
    z-index: -11;
}
.vr_pic{
    background: #ffffff91;
    border-radius: 2em;
    border: white 4px solid;
    transform: translateY(30vw) translateX(-5vw);
    z-index: 11;
}
.movedown{
    animation: movedownanimation;
    animation-timeline: view();
    animation-range: entry -10% exit 150%;
}
@keyframes movedownanimation {
    0% { transform: translateY(-100px) translateX(-5vw); }
    30% { transform: translateY(100px) translateX(-5vw); }
    90% { transform: translateY(30vw) translateX(-5vw); }
}

.f-info-text{
    font-size: 36px;
    margin-top: -1rem;
    color: var(--foreground-color);
}
.fadeinAbout1{
    animation: fadeInAbout both;
    animation-timeline: view(45% 05%);
}
.fadeinAbout2{
    animation: fadeInAbout both;
    animation-timeline: view(40% 15%);
}
.fadeinAbout3{
    animation: fadeInAbout both;
    animation-timeline: view(35% 25%);
}
.fadeinAbout4{
    animation: fadeInAbout both;
    animation-timeline: view(30% 45%);
}
@keyframes fadeInAbout {
    0%{
        filter: blur(0px);
        transform: translateY(60px);
        scale: .65;
    }
    55%{
        filter: blur(0px);
        transform: translateY(0);
        color: var(--primary-color);
        scale:1;
    }
    75%{
        filter: blur(0px);
        transform: translateY(0);
        color: var(--primary-color);
        opacity: 1;
        scale: 1.25;
    }
    100%{
        filter: blur(3px);
        transform: translateY(40px);
        color: var(--primary-color);
        opacity: 0.2;
        scale: .65;
    }
}

.join_now_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 35vw;
    min-width: 100px;
    margin-left: 10vw;
    border-radius: 1.5rem;
    background: #ffffff;
    transform: translateY(-15vh);
    font-size: 1rem;
}

.join_now_card h1{
    font-size: 4em;
    margin: 0;
    background: linear-gradient(114deg, var(--background-color) 10%, var(--primary-color) 90%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(40px);
    text-align: center;
}
.join_now_card h2{
    font-size: 40px;
    margin: 0;
    color: var(--foreground-color);
    text-align: center;
    margin-top: 3rem;
    padding: 4rem;
}
.join_now_card .button{
    margin: 1em;
    width: 15em;
    height: 4em;
    border: var(--foreground-color) 2px solid;
    border-radius: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    transition: all 0.3s ease;
}
.join_now_card .button a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 36px;
    font-family: var(--font-family);
    transition: all 0.3s ease;
}
.join_now_card .button:hover{
    box-shadow: 1px 10px 12px 3px rgba(0,0,0,0.24);
    transform: translateY(-4px);
}
.full-gradient{
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 1%, rgba(225, 129, 192, 0.4) 16%, rgba(75, 66, 148, 1) 40%, rgba(11, 20, 50, 1) 80%);width: 100vw;
    height: 220vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 3rem;
}
.love_code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    margin: 2rem 5rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
    background: #0f0f0f;
    padding: 3rem;
}
.love_code h1{
    font-size: 64px;
    margin: 0;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(20px);
    text-align: center;
}
.love_code p{
    font-size: 24px;
    margin-top: 1rem;
    transform: translateY(20px);
    color: var(--foreground-color);
    text-align: center;
    padding: 1rem 4rem 0rem 4rem;
}

.love_code img{
    width: 200px;
    transition: all 0.3s ease;   
}
.love_code img:hover{
    filter: drop-shadow(0 0 20px var(--primary-color)) drop-shadow(0 0 40px var(--primary-color)) drop-shadow(0 0 60px var(--primary-color));
    transform: scale(1.1);
}

.feature_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background: #5FE4FF;
    background: linear-gradient(180deg, rgba(95, 228, 255, 0) 0%, rgba(129, 247, 255, 1) 86%);
}
.feature_card h1{
    font-size: 4.5rem;
    margin: 0;
    background: linear-gradient(-114deg, var(--background-color) 10%, var(--primary-color) 90%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.feature_cards_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    
    justify-content: center;
    width: 90vw;
    margin: 4rem 4rem 0rem 4rem;
    gap: 2rem;
}
.feature_card_item{
    background: #1C4262;
    background: linear-gradient(180deg, rgba(28, 66, 98, 0.83) 0%, rgba(12, 12, 33, 1) 100%);
    border-radius: 2rem;
    width: 17rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 0px 4px 20px -9px rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    filter: blur(0px);
    overflow: hidden;
}
.feature_card_item:hover{
    transform: translateY(-8px);
    box-shadow: 11px 10px 20px 10px rgba(255,255,255,0.75) , -11px -10px 20px 10px rgba(255, 255, 255, 0.75);
    scale: 1.05;
    cursor: pointer;
}
.feature_card_item:hover .feature_icon{
    filter: drop-shadow(0 0 20px var(--primary-color)) drop-shadow(0 0 40px var(--primary-color)) drop-shadow(0 0 60px var(--primary-color));
    transform: scale(1.2);
}

 .feature_card_item:hover+.feature_card_item{
    filter: blur(2px);
    transform: perspective(800px) rotateY(45deg) scale(.9);
 }
 .feature_card_item:has(+.feature_card_item:hover){
    filter: blur(2px);
    transform: perspective(800px) rotateY(-40deg)  scale(.9);
}
 .feature_card_item:hover+.feature_card_item+.feature_card_item{
    filter: blur(2px);
    transform: perspective(800px) rotateY(30deg) scale(.7) translateX(-20%);
 }

.feature_card_item:has(+.feature_card_item+.feature_card_item:hover){
    filter: blur(2px);
    transform: perspective(800px) rotateY(-30deg) scale(.7) translateX(20%);
}
 


.feature_card_item h2{
    font-size: 2rem;
    margin: 1rem 0rem 0.5rem 0rem;
    color: white;
    text-align: center;
}
.feature_card_item p{
    font-size: 1.2rem;
    margin: 0;
    color: white;
    text-align: center;
    margin: 2em;
}
.feature_icon{
    width: 10em;
    height: 10em;
    margin-bottom: 1rem;
}
.feature_icon1{
    background-image: url(images/siri_logo.png);
    background-size: cover;
    background-position: center;
}
.feature_icon2{
    background-image: url(images/side_view.png);
    background-size: cover;
    background-position: top;
    margin-bottom: 0;
    height: 15em;
    padding: 0;
    z-index: -1;
}
.feature_icon3{
    background-image: url(images/siri_logo2.png);
    background-size: cover;
    background-position: center;
}
footer {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  color: #1b1919;
  padding: 2rem;
}

footer h4 {
  margin-bottom: 0.5rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-bottom: 0.3rem;
}
.footer-logo{
    width: 150px;
    height: 150px;
}
.conduct-me{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.connect-me{
    color: var(--foreground-color);
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    width: max-content;
}
.connect-me::after{
    position: absolute;
    content: '';
    display: block;
    width: 80px;
    height: 50px;
    background-color:#dfd0b86b;
    top:0;
    left:0;
}

.conncet-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.conncet-ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
    cursor: pointer;
}

.conncet-ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--foreground-color),
               0 0 0 20px var(--primary-color),
               0 0 0 22px var(--foreground-color);
    box-sizing: border-box;
    transition: all 0.6s;
}
.conncet-ul li:hover:before{
    inset: 15px;
}
.conncet-ul li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: rotate(45deg); 
    transition: all 0.6s;
}
.conncet-ul li:hover:after{
    transform: rotate(0deg);
}

.conncet-ul li a{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.conncet-ul li a i{
    font-size: 2.5em;
    transition: all 0.6s;
    opacity: 1;
    color: var(--foreground-color);
}
.conncet-ul li:hover a i{
    transform: translateY(-40%);
}
.conncet-ul li a span{
    position: absolute;
    font-family: sans-serif;
    color: var(--foreground-color);
    font-size: 16px;
    opacity: 0;
    transition: all 0.6s;
    transform: scale(0) translateY(200%);
}

.conncet-ul li:hover a span{
    opacity: 1;
    transform: scale(1) translateY(100%);
}
