:root{
    --background-color: #FA13F2;
    --primary-color: #00D4FE;
    --dark-background-color: #0B1432;
    --foreground-color: #414040;
    --font-family: 'Arial, sans-serif';
}

.navbar{
    background-color: #f9f8f8af;
    color: var(--foreground-color);
    font-family: var(--font-family);
    padding: 10px;
    width: 60vw;
    height: 50px;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;


}